fastapi
uvicorn
python-dotenv
sqlalchemy
mysql-connector-python
aiomysql
asyncpg
psycopg2-binary
pydantic
pydantic-settings
sqlglot
langgraph
langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
redis
redis[hiredis]

tiktoken
fastembed
chromadb
pytest
pytest-cov
ruff
mypy
PyYAML
pandas
openpyxl
prometheus-client
cryptography
pymysql
